#div1{
    width: 100%;
    height: 300px;
    background: linear-gradient(black 50%,yellow 70%);

    
}
#div2{
    width: 100%;
    height: 150px;
    background: linear-gradient(yellow 10%,black 40%);
}
#div3{
    width: 100%;
    height: 500px;
    background: linear-gradient(black 50%, yellow 70%);
}
#div4{
    width: 100%;
    height: 300px;
    background: linear-gradient(yellow 10%, gray 40%);
}
#div5{
    width: 100%;
    height: 300px;
    background: linear-gradient(gray 50%, yellow 70%)
}#div6{
    width: 100%;
    height: 500px;
    background: linear-gradient(yellow 50%, black 60%)
}